AZURE_OPENAI_SERVICE_KEY = "4443459b8bb2468a9d31f963fbff17fe"
AZURE_OPENAI_SERVICE_ENDPOINT = "https://ai-aasthamadaanai2659490188550.openai.azure.com/" # your endpoint should look like the following https://YOUR_RESOURCE_NAME.openai.azure.com/
AZURE_OPENAI_API_TYPE = 'azure'
AZURE_OPENAI_API_VERSION = "2023-06-01-preview" # this may change in the future
# Your ACS resource connection string
ACS_CONNECTION_STRING = "endpoint=https://acs-sthree-v1.unitedstates.communication.azure.com/;accesskey=CcQcuZ5rKnMCAejy1qYv4mBLBKR9mm1CWOJH5CZlaa3d6pBt5cyjJQQJ99AJACULyCpkM33qAAAAAZCSOsL2"

# Cognitive service endpoint
COGNITIVE_SERVICE_ENDPOINT="https://sthree-multiservice.cognitiveservices.azure.com/"

# Cognitive service endpoint
AZURE_OPENAI_SERVICE_KEY = "4443459b8bb2468a9d31f963fbff17fe"

# Open AI service endpoint
AZURE_OPENAI_SERVICE_ENDPOINT="https://ai-aasthamadaanai2659490188550.openai.azure.com/"

# Azure Open AI Deployment Model Name
AZURE_OPENAI_DEPLOYMENT_MODEL_NAME="gpt-4o-2"

# Azure Open AI Deployment Model
AZURE_OPENAI_DEPLOYMENT_MODEL="gpt-4o"

# Agent Phone Number
AGENT_PHONE_NUMBER="+441904545541"
AZURE_SEARCH_INDEX = "vector-1727694978181"
SEARCH_KEY = "CzCRuO8Qa5KC2hsHvqVjeUqfEJz2aKKqfHnZ1FA8dzAzSeA8nbmI"
SEARCH_QUERY_KEY = "12n3xjsQgKOx46I9RuauXD9vtVJfOG2LYGXPITBIQLAzSeDIa4EP" # Your Azure Cognitive query key
AZURE_SEARCH_ENDPOINT = "https://cs-copilot.search.windows.net"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME = "ada-sthree"  # The name of your deployment for embeddings in Azure OpenAI
AZURE_MAPS_KEY = "6jQv7YmIcRJTWTIfUtWitXYl9ahuN1aYxANsjRvwcPxQIENgFyCmJQQJ99AFACYeBjFJ0deGAAAgAZMPYjT5"
# Callback events URI to handle callback events.
# CALLBACK_URI_HOST = "https://g9rn4h94.uks1.devtunnels.ms:8081"
# CALLBACK_EVENTS_URI = "https://g9rn4h94-8081.uks1.devtunnels.ms" + "/api/callbacks"

CALLBACK_URI_HOST = "https://t5ww1rq9.uks1.devtunnels.ms:8081"
CALLBACK_EVENTS_URI = "https://t5ww1rq9-8081.uks1.devtunnels.ms/api/callbacks"
