Quart>=0.19.6
azure-eventgrid==4.11.0
azure-communication-callautomation==1.1.0
openai==0.28.1
azure-search-documents
spacy
os
langchain>=0.3.4,<0.4.0
geopy
langchain-community
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz