AZURE_OPENAI_SERVICE_KEY = "d7313effc7f44e23bb725fc663a86cb3"
# your endpoint should look like the following https://YOUR_RESOURCE_NAME.openai.azure.com/
AZURE_OPENAI_SERVICE_ENDPOINT = "https://swedencentral.api.cognitive.microsoft.com" 
AZURE_OPENAI_API_TYPE = 'azure'
# this may change in the future
AZURE_OPENAI_API_VERSION = "2024-02-01" 
# Your ACS resource connection string
ACS_CONNECTION_STRING = "endpoint=https://acs-b3iiujkg3hgsa-dev.uk.communication.azure.com/;accesskey=m20GIZJYsS3wq82dyg6wLcecb949ym2VxLHgZvNKLIkCN2zliYMNJQQJ99AKACULyCpSQqREAAAAAZCSaFvd"

# Cognitive service endpoint
COGNITIVE_SERVICE_ENDPOINT="https://cs-acs-voice-ai.cognitiveservices.azure.com/"


# Azure Open AI Deployment Model Name
AZURE_OPENAI_DEPLOYMENT_MODEL_NAME="gpt-4o-mini"

# Azure Open AI Deployment Model
AZURE_OPENAI_DEPLOYMENT_MODEL="gpt-4o-mini"

# Agent Phone Number
AGENT_PHONE_NUMBER="+448006404064"
AZURE_SEARCH_INDEX = ""
SEARCH_KEY = ""
SEARCH_QUERY_KEY = "" # Your Azure Cognitive query key
AZURE_SEARCH_ENDPOINT = ""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME = "text-embedding-ada-002"  # The name of your deployment for embeddings in Azure OpenAI
AZURE_MAPS_KEY = "FxcBXhp8UQiJWcgC7i4hxOHHlSxblNN52L5WC3MG6LwFQvB7K0xRJQQJ99AKACi5YpzSQqREAAAgAZMPoHky"
# Callback events URI to handle callback events. please note the difference in two lines below
CALLBACK_URI_HOST = "https://9lcl6ghr.uks1.devtunnels.ms:8080"
CALLBACK_EVENTS_URI = "https://9lcl6ghr.uks1.devtunnels.ms:8080/api/callbacks"

# target candidate phone number
TARGET_PHONE_NUMBER = "+447442457021"

# to add
VOICE_NAME = "en-US-AvaMultilingualNeural"
END_SILENCE_TIMEOUT = "0.4"


COSMOS_DB_DATABASE_NAME="CallSessionsDB"
COSMOS_DB_CONTAINER_NAME="CallSessions"
COSMOS_DB_URL="https://ai-cosmodb-sthree.documents.azure.com:443/"
COSMOS_DB_KEY="q67JyS5LCztBt5DZT9DXe8uc5UlnymqI1qb0GPlMfOQtKPQW19tpOkCy8TsZsnOtthMaq0RRyn7qACDbB2z00w=="
 